#message{
  position: fixed;
  bottom: 70px;
  right: 10px;
  background: greenyellow;
  color: green;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid green;
  display: none;
}